/*@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/

@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'GothamProMedium', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.green-button, .grey-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    width: 9.79vw;
    line-height: 2.34vw;
    margin: 0.6vw;
    box-sizing: border-box;
    border-radius: 0.26vw;
    cursor: pointer;
}
.green-button {
    background-color: #3faf6c;
}
.green-button:hover {
    background-color: #3f9b58;
}

.grey-button {
    background-color: #818181;
}
.grey-button:hover {
    background-color: #696969;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    z-index: 999;
}

header ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

header .top-nav-bar {
    width: 100%;
    font-size: 1vw;
    line-height: 3.65vw;
}

header .top-nav-bar li {
    float: left;
    text-align: center;
    width: calc(51.7% / 4);
}
header .top-nav-bar li:first-child {
    width: 14.43%;
}
header .top-nav-bar li:nth-child(1n + 5) {
    width: 11.29%;
}
header .top-nav-bar li:last-child {
    clear: both;
    float: none;
    width: 100%;
}

/**/
header .left-nav-bar {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #303030;
    width: 6.35vw;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.78vw;
    height: calc(100vh - 3.65vw);
    box-sizing: border-box;
    padding: 4.63vh 0;
}

header ul::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;

}

header ul::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
    display: none;

}

header ul::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;

}
header .left-nav-bar li {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
header .left-nav-bar>li>a {
    padding: 1.25vw 0.75vw;
    display: block;
}
header .left-nav-bar>li>a img {
    max-width: 30%;
}
header .left-nav-bar>li>a:hover, header .left-nav-bar>li>a.active {
    background-color: #8e8e8e;
}
/**/
header .left-nav-bar li:hover>.submenu {
    display: block;
}
header .left-nav-bar li>a>span {
    display: block;
}

.submenu li>a>span {
    display: block;
}
.submenu li>a>img {
    max-width: 30%;
}

.submenu {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 6.35vw;
    background-color: white;
    color: black;
    border-right: 1px solid #8e8e8e;
    height: calc(100vh - 3.65vw);
    font-size: 0.89vw;
    width: 11.88vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    box-sizing: border-box;
    /*box-sizing: border-box;*/
    z-index: 999;
}

.submenu li>a, .submenu li.head {
    padding: 1.15vw 0;
    display: block;
}

.submenu.open {
    display: block;
}

.submenu a:hover, .submenu a.active {
    background-color: #8e8e8e;
}

/**/
#submenu-1-1, #submenu-1-2, #submenu-1-3 {
    left: 18.23vw;
}
#submenu-1-1 form input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    width: 90%;
    margin: 0 auto;
    padding: 0 5% 0 15%;
    font-size: 0.80vw;
    font-family: 'GothamProMedium', sans-serif;
    height: 2.08vw;
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: 7% center;
    background-image: url(/img/left-menu-icons/submenu-1/submenu-1-1/search.svg);
}

#submenu-1-1 a:hover, #submenu-1-1 a.active {
    background-color: transparent;
}

#submenu-1-1 .icon-class-list .head, #submenu-1-3 .icon-class-list .head {
    margin: 1.15vw auto;
    border-bottom: 1px solid #eeeeee;
    display: block;
    width: 70%;
    padding: 5px 0;
}
#submenu-1-1 .icon-class-list.open .head, #submenu-1-1 .icon-class-list .head:hover,
#submenu-1-3 .icon-class-list.open .head, #submenu-1-3 .icon-class-list .head:hover {
    border-bottom: 1px solid #000000;
}

#submenu-1-1 .icon-class-list .icons, #submenu-1-3 .icon-class-list .icons  {
    display: block;
    overflow: hidden;
    height: 100%;
}
#submenu-1-1 .icon-class-list.open .icons, #submenu-1-3 .icon-class-list.open .icons {
    height: auto;
}

#submenu-1-1 .icon-class-list .icons a, #submenu-1-3 .icons a {
    display: block;
    width: 2.15vw;
    height: 2.2vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    margin: 0.5vw calc((100% - 10.4vw)/4);
    padding: 0;
}

#submenu-1-1 .icon-class-list .icons a:nth-child(2n), #submenu-1-3 .icon-class-list .icons a:nth-child(2n) {
    float: right;
}

/**/
#submenu-1-2 {
    width: 15vw;
}

#submenu-1-2 form textarea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    font-size: 1vw;
    font-family: 'GothamProMedium', sans-serif;
    height: 10vw;
    resize: none;
}

#submenu-1-2 .font {
    font-size: 1.5vw;
    padding: 5px 0;
}

/**/
#submenu-3 {
    width: auto;
}

#submenu-3 #area-background {
    margin: 0 0.75vw;
}

/**/
#submenu-3 .paliters {
    height: calc(100% - 176px - 6.43vw);
}
.paliters-append {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.paliters-header {
    border-bottom: 1px solid #eeeeee;
    width: calc(100% - 1.5vw);
    margin: 1.15vw auto 5px;
    padding: 3px 0;
}

#submenu-3 .paliters {
    text-align: left;
    font-size: 1.11vw;
    width: calc(100% - 1.5vw);
    margin: 0 auto;
}

.palitra {
    overflow: hidden;
}
.paliters .colors {
    overflow: hidden;
    margin: 0.52vw 0 1.04vw;
    border-radius: 5px;
}

.paliters .colors .color {
    float: left;
    width: calc(100% / 7);
    height: calc(356px / 7);
    display: block;
}

/**/
#submenu-4 {
    width: 16.15vw;
}

#submenu-4 .sett-group .head {
    margin: 0 auto 1.3vw;
    padding: 3px 0;
    width: 60%;
    border-bottom: 1px solid #8e8e8e;
}

#submenu-4 .sett-group .line {
    display: block;
    width: 90%;
    margin: 0 auto 1.3vw;

}
#submenu-4 .sett-group .line .insc {
    width: 72%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#submenu-4 .sett-group .line .input {
    width: 26%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#submenu-4 .sett-group .line .input input[type="number"] {
    border: none;
    font-size: inherit;
    width: 100%;
    height: 1.3vw;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 40% 0 10%;
}

#submenu-4 .sett-group .line .input .unit {
    position: absolute;
    right: 15%;
    top: 15%;
}

#submenu-4 .sett-group .line .input.block input[type="number"], #submenu-4 .sett-group .line .input.block .unit {
    color: white;
    background-color: #818181;
}

#submenu-4 .sett-group .line .input input[type="checkbox"] {
    display: none;
}

#submenu-4 .sett-group .line .input input[type="checkbox"] + .toggle {
    display: inline-block;
    vertical-align: middle;
    height: 0.64vw;
    border-radius: 0.32vw;
    border: 1px solid #000000;
    width: 2vw;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: 3s;
}
#submenu-4 .sett-group .line .input input[type="checkbox"] + .toggle:after {
    height: 1.3vw;
    width: 1.3vw;
    background-color: #000000;
    position: absolute;
    top: calc((100% - 1.3vw)/2);
    left: calc((0.64vw - 1.3vw)/2);
    content: '';
    border-radius: 50%;
    transition: 3s;
}

#submenu-4 .sett-group .line .input input[type="checkbox"]:checked + .toggle:after {
    left: auto;
    right: calc((0.64vw - 1.3vw)/2);
}

/**/
#submenu-2 .head .grey-button {
    line-height: normal;
    color: black;
    padding: 5px 0;
    width: calc(100% - 1.2vw);
}
#submenu-2 .point a:hover {
    background-color: white;
}
#submenu-2 .point .head {
    margin: 5px auto;
    border-bottom: 1px solid #eeeeee;
    display: block;
    width: 70%;
    padding: 5px 0;
}

#submenu-2 .point img {
    max-width: 100%;
    background-color: white;
}


/*canvas-sizes-view*/
.canvas-sizes-view {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    width: 2.4vw;
    text-align: right;
    border-bottom: 1px solid transparent;
}
.canvas-sizes-view:focus {
    border-bottom: 1px solid white;
}

/**/
.ui-slider .ui-slider-range {
    background-color: #cfdce5;
}
.ui-slider .ui-slider-handle {
    height: 1.8vw;
    width: 1.8vw;
    top: -0.6vw;
    background: #e04f5f;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-15%);
}

/**/
.top-nav-bar .sub {
    position: absolute;
    top: 110%;
    width: 28vw;
    background-color: #FFFFFF;
    color: #222222;
    border-radius: 3px;
    padding: 1vw 1vw 1.5vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: normal;
    z-index: 99;
    left: 23vw;
    display: none;
}
.top-nav-bar li.active .sub {
    display: block;
}

.top-nav-bar .sub .bottom-inscription {
    position: absolute;
    bottom: 0;
    right: 0.5vw;
}
.top-nav-bar .sub .top {
    font-size: 1.5vw;
}
.top-nav-bar .sub input {
    display: inline-block;
    vertical-align: bottom;
    border: none;
    line-height: 3vw;
    max-width: 8.23vw;
    box-sizing: border-box;
    background-color: #dadada;
    color: #FFFFFF;
    font-size: 2.5vw;
    border-radius: 3px;
    text-align: center;
    margin: 0 0 0 15%;
}

.top-nav-bar .sub .slider {
    margin: 0.5vw auto 0;
}

/**/
input[type="file"] {
    position: relative;
    overflow: hidden;
}
input[type="file"]:after {
    content: '?’N‹?±Nˆ?°N‚N? N„?°???»';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    display: block;
    text-align: center;
    text-transform: inherit;
}
.loading img {
    width: 100%;
    visibility: hidden;
}
.loading.active img {
    visibility: visible;
}